/* DashBoard.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.verticalNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #333;
    padding: 52px;
    width: 190px;
    font-family: "Poppins", sans-serif;
}

.logozinha {
    width: 130px;
    height: auto;
    position: relative;
    top: -110px;
    right: 45px;
    margin-bottom: 7px;
}

.navbar-nav .nav-item {
    position: relative;
    top: -100px;
    margin-bottom: -4px;
    font-size: 15px;
    opacity: 80%;
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
#sair{
    position: relative;
    top: 200px;
}
#H1{
    position: relative;
    left: 300px;
}
Slider{
    width: 100px;
    height: 100px;
}